#slideshow .inside div.slide {
  display: block;
  padding: 30px;
  border: thin solid gray;
  height: 620px;
}
#slideshow .inside div.slide .mobile-image,
#slideshow .inside div.slide .image {
  float: left;
  width: 45%;
  max-width: 400px;
  height: 270px;
  padding-right: 5%;
  padding-top: 40px;
}
#slideshow .inside div.slide .mobile-image img,
#slideshow .inside div.slide .image img {
  max-width: 100%;
  max-height: 100%;
}
#slideshow .inside div.slide .mobile-image img {
  width: auto;
  max-height: 100%;
}
#slideshow .inside div.slide .form {
  float: left;
  width: 60%;
}
#slideshow .inside div.slide .form input {
  width: 100%;
}
#slideshow .inside div.slide .form textarea {
  height: 100px;
  resize: none;
}
