#slideshow {

  .inside {

    div.slide {
      display:block;
      padding: 30px;
      border: thin solid gray;
      height: 540px;


      .mobile-image, .image {
          float:left;
          width: 35%;
          max-width: 400px;
          height:200px;
          text-align: center;
          padding-right: 5%;
          padding-top: 40px;
      }

      .mobile-image img {
        width: auto;
        max-height: 100%;
      }

      .form {
        float:left;
        width:60%;
        input {
          width: 100%;
        }
        textarea {
          height: 100px;
          resize:none;
        }
      }

    }
  }

}
