#slideshow {

  .inside {

    div.slide {
      display:block;
      padding: 30px;
      border: thin solid gray;
      height: 620px;


      .mobile-image, .image {
          float:left;
          width: 45%;
          max-width: 400px;
          padding-right: 5%;
          padding-top: 40px;
          position: relative;
          overflow: hidden;
          cursor: pointer;
          img {
            width: auto;
            max-width: 100%;
            max-height: 100%;
          }
          &:before {
            background-color: #4B2E83;
            top: 40px;
            bottom: 4px;
            width: 300px;
            left: -400px;
            transform: skew(-15deg);
            content: "";
            position: absolute;
            display: block;
            transition: all linear .1s;
            opacity: .9;
          }
          &:after {
            color: #FFF;
            bottom: 4px;
            content: "Edit image";
            font-family: 'Encode Sans Compressed', sans-serif;
            font-weight: 900;
            font-size: 15px;
            text-transform: uppercase;
            position: absolute;
            display: block;
            top: 52%;
            left: -170px;            
            transition: all linear .1s;
          }
          &:hover {
            &:before {
              left: -170px;
            }
            &:after {
              left: 30px;
            }
          }
      }

      .mobile-image img {
        width: auto;
        max-height: 100%;
      }

      .form {
        float:left;
        width:60%;
        input {
          width: 100%;
        }
        textarea {
          height: 100px;
          resize:none;
        }
      }

    }
  }

}
